# Ambientes virtuales
venv/
env/
.venv/
__pycache__/

# Variables de entorno y secretos
.env
.env.local
.env.*
*.pem
*.key

# Node y Frontend (PWA)
node_modules/
dist/
dist-ssr/

# Testing y Calidad (Pytest / Vitest / ESLint)
.pytest_cache/
coverage/
.eslintcache
