# ==========================================
# SGIC - Variables de Entorno (Plantilla)
# ==========================================

# --- Base de Datos ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=sgic_db
POSTGRES_PORT=5432

# --- Entorno ("development" | "production") ---
# En "production" se deshabilita GET /usuarios/prueba
ENVIRONMENT=development

# --- URL de conexión ---
DATABASE_URL="postgresql://postgres:root@localhost:5432/sgic_db"

# --- Claves Criptográficas (ES256) ---
#Ejecutar 'python security/generate_keys.py' para autocompletar esto localmente
JWT_PRIVATE_KEY="reemplazar_con_clave_privada"
VITE_PUBLIC_KEY="reemplazar_con_clave_publica"

# --- Autenticación Web (Login) ---
AUTH_SECRET_KEY="clave_super_secreta_de_desarrollo_qamp_2026!"

# --- Reglas de Negocio ---
CAMPING_ID=CAMP-MENDOZA-01
CAMPING_TOTAL_CAPACITY=50
CAMPING_OFFLINE_BUFFER=5
MAX_PERSONAS_POR_RESERVA=10
MAX_NOCHES_POR_RESERVA=10

# --- Configuración de Tarifas ---
PRECIO_BASE_POR_PERSONA=5000.0
PORCENTAJE_DESCUENTO_SOCIO=0.20

# --- Integraciones Cloud ---
RESEND_API_KEY="re_123456789_clave_de_prueba"

# --- Pasarela de Pagos (Mercado Pago) ---
MERCADOPAGO_ACCESS_TOKEN=pegar_token_aqui
MERCADOPAGO_PUBLIC_KEY=pegar_public_key_aqui
