[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
asyncpg = "*"
python-dotenv = "*"
psycopg2-binary = "*"
fastapi = "*"
uvicorn = "*"
cryptography = "*"
pyjwt = {extras = ["crypto"], version = "*"}
pydantic-settings = "*"

[dev-packages]
pytest = "*"
httpx = "*"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.13.7"
